.main{
    flex: 1;
    padding: 5px;
}

.main-title {
    text-align: center;
    margin-top: 20px;
  }
  
  .main-title h1 {
    font-size: 36px;
    color: #5116A8;
    margin-bottom: 20px;
    font-family: "DNFBitBitv2";
    text-shadow: 2px 2px #fff;
    text-align: center;
  }
  
  .memo {
    display: flex;
    margin-top: 20px; 
  }
  
  .memo-input {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .priority-selector {
    display: flex;
    margin-bottom: 10px;
  }

  .textmemo {
    height: 530px;
    width: 40px;
    padding: 10px;
    border: 3px solid #5116A8;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .register-button {
    background-color: #5116A8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "DNFBitBitv2";
    width: 15%;
    height: 12%;

  }

  .important {
    color: #d32f2f;
    font-family: "DNFBitBitv2";
  }

  .urgent {
    color: #FF7700;
    font-family: "DNFBitBitv2";
  }

  .task {
    color: #0F0F8E;
    font-family: "DNFBitBitv2";
  }
  
  