.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
}

.main-title {
  text-align: center;
  margin-top: 20px;
}

.main-title h1 {
  font-size: 36px;
  color: #5116A8;
  margin-bottom: 20px;
  font-family: "DNFBitBitv2";
  text-shadow: 2px 2px #fff;
}

.main {
  display: flex;
  margin-top: 40px;
  padding: 30px;
}

.memo-list {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.memo-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.memo-item.urgent {
  background-color: #d32f2f;
  font-family: "DNFBitBitv2";
}

.memo-item.important {
  background-color: #fbc02d;
  font-family: "DNFBitBitv2";
}

.memo-item.task {
  background-color: #1976d2;
  font-family: "DNFBitBitv2";
}

.memo-input {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.priority-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.priority-selector span {
  margin-left: 5px;
  font-weight: bold;
  font-family: "DNFBitBitv2";
}

.priority-selector .urgent {
  color: #d32f2f;
}

.priority-selector .important {
  color: #fbc02d;
}

.priority-selector .task {
  color: #1976d2;
}

.textarea {
  height: 300px;
  width: 400px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.register-button {
  background-color: #5116A8;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "DNFBitBitv2";
}

.register-button:hover {
  background-color: #5e1290;
}

.delete-button {
  background-color: #f5f5f5;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 10px;
  font-size: 14px;
  font-family: "DNFBitBitv2";
  float: right;
}
